html,
body,
header,
#intro,
#graphics-percent {
    height: 100%;
    overflow-x: hidden;
}

#graphics {
    height: 105%;
}



#nav {
    position: fixed!important;
    background-color: transparent!important;
}

#intro {
    background: url("../img/main.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#graphics {

}

canvas {
    height: 100%;
}

.margen {
 margin-left: 5px;
 margin-top: 10px;
}

.wrapper {
    /*height: 1000px !important;*/
    }