html,
body,
header,
#intro {
    height: 100%;
    overflow-x: hidden;
}

#graphics,
#graphics-percent,
#graphics-round {
    height: 105%;
}



#nav {
    position: fixed!important;
    background-color: transparent!important;
    z-index: 300;
}

#intro {
    background: url("../img/main.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

canvas {
    min-height: 300px;
}

.margen {
 margin-left: 5px;
 margin-top: 10px;
}

/* Mobile S */
@media (min-width: 1px) and (max-width: 320px) {
    #canvas {
        width: 280px!important;
        max-height: 60%!important;
    }
}

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px) {

}

/* Mobile L */
@media (min-width: 376px) and (max-width: 425px) {

}

@media (min-width: 426px) {
    #canvas {
        width: 100%!important;
    }
}