html,
body,
header,
#intro,
main {
    height: 100%;
    overflow-x: hidden;

}

#nav {

}

#intro {
    background: url("../img/main.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#graphics {
    overflow-y: hidden;
}

canvas {


}

.margen {
 margin-left: 5px;
 margin-top: 10px;
}